<div class="wrapper" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1522804500346-54b1cff8cc39?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331');">
<div class="container opacity" style="width: 550px">
  <div class="card border-white p-5">
    <div class="text-center p-3">
    <h2>👩‍✈️ Sign up</h2>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    data: {turbo: false}) do |f| %>
    <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, placeholder: "Christophe" %>
        <%= f.input :last_name, placeholder: "Colomb" %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "christophecolomb@santamaria.com" %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" },
                    placeholder: "******" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    placeholder: "******" %>
      </div>

      <div class="form-actions">
        <div class="d-grid gap-2 d-md-flex justify-content-center">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
        <div class="text-center p-3">
        <%= render "devise/shared/links" %>
        </div>
</div>
</div>
