
<% if @bookings_owner.any? %>
  <h6>Pending bookings of your boats:</h6>
  <% @bookings_owner.each do |b| %>
    <div class="card-booking">
      <%= cl_image_tag(b.boat.photos.first.key) if b.boat.photos.any? %>
      <div class="card-booking-infos">
        <h2>Boat : <%= b.boat.name %> Price - <%=b.amount%> ₿</h2>
        <p>Status : <%=b.status %></p>
        <p>User : <%=b.user.first_name %> <%=b.user.last_name %></p>
        <p>From <%= b.start_date %> to <%= b.end_date %></p>
      </div>
      <div class="buttons d-grid">
        <%= link_to "Accept", accepted_booking_path(b), data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
        <%= link_to "Deny", denied_booking_path(b), data: {turbo_method: :patch}, class: "btn btn-outline-warning" %>s
      </div>
    </div>
    <br>
  <% end %>
<% end %>

<br>

<% if @bookings_user.any? %>
  <h6>Pending bookings of your requests :</h6>
  <% @bookings_user.each do |b| %>
    <div class="card-booking">
      <%= cl_image_tag(b.boat.photos.first.key) if b.boat.photos.any? %>
      <div class="card-booking-infos">
        <h2>Boat : <%= b.boat.name %> Price - <%=b.amount%> ₿</h2>
        <p>Status : <%=b.status %></p>
        <p>Owner : <%=b.boat.user.first_name %></p>
        <p>From <%= b.start_date %> to <%= b.end_date %></p>
      </div>
      <div class="buttons d-grid">
        <i class="fa-solid fa-user-clock" style="font-size: 30px"></i>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
