<div class="container my-3">
  <div class="text-center">
    <h1><i class="fa-solid fa-dharmachakra"></i> Dashboard</h2>
  </div>
  <div class="d-flex justify-content-between">
    <div class="card-profile p-5 flex-grow-1  text-center">
      <% if current_user.avatar.present? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar-large mb-2" %>
      <% else %>
      <%= image_tag "sparrow", class: "avatar-large mb-2"%>
      <% end %>
      <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>


    </div>
    <div class="col-9 ml-3">
      <%= render "bookings/show" %>
    </div>
  </div>
</div>
