<%# <div class="banner" style="background-image: url(<%= image_path 'batal.jpg' %>
<div class="banner">
  <div class="container">
    <h1> Sail accross the ocean</h1>
    <p>Rent a boat and start your adventure now!</p>
    <div class="w-25">
        <%= form_tag boats_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a boat"
          %>
        <%= submit_tag "Search", class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>
<%= video_tag "https://res.cloudinary.com/dxa1umwr3/video/upload/v1653509082/development/BackgroundBoat.mp4", autoplay: true, muted: true, loop: true, id: "background-video" %>

<%#= cl_video_tag("BackgroundBoat", fetch_format: :auto, playsinline: true, autoplay: true, muted: true, loop: true, id: "background-video")%>
