<div class="wrapper" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1541777594744-addc2de9d110?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070');">
<div class="container opacity mt-5" style="width: 500px">
    <div class="card border-white p-5">
    <div class="text-center p-3">
      <h2>⛵ Log in</h2>
    </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
        data: {turbo: false}) do |f| %>
        <div class="form-inputs">
          <div class="row g-1">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          placeholder: "christophecolomb@santamaria.com" %>

              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" },
                          placeholder: "password" %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            </div>
        </div>

        <div class="form-actions">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= f.button :submit, "Log in", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
</div>
</div>
