<div class="container">
  <div class="d-flex align-items-center justify-content-between my-4">
    <h3 class="mb-0">Discover all our available Boats</h3>
    <div class="search-index w-25">
          <%= form_tag boats_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a boat"
            %>
          <%#= submit_tag "Search", class: "btn btn-primary" %>
          <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
          <% end %>
      </div>
    </div>

  <div class="cards mb-4">
    <% @boats.each do |b| %>
      <%= link_to boat_path(b) do %>
        <div class="card-trip">
          <%=cl_image_tag(b.photos.first.key) if b.photos.any?%>
          <div class="card-trip-infos font-weight-light">
            <div>
              <p class="button"><%= b.category %></p>
              <h2><%= b.name %></h2>
              <p><%= b.description %></p>
              <p><%= b.price_per_day %> ₿ per day</p>
            </div>
              <div class="card-user">
                <% if b.user.avatar.present? %>
                  <%= cl_image_tag b.user.avatar.key, class: "card-trip-user avatar avatar-bordered" %>
                <% else %>
                    <%= image_tag "sparrow", class: "card-trip-user avatar avatar-bordered"%>
                <% end %>
                <p><%= b.user.first_name + " " +b.user.last_name %></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
