<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Discover all our available Boats</h3>
  </div>
  <div class="cards">
  <% @boats.each do |b| %>
  <%= link_to boat_path(b) do %>
      <div class="card-trip">
        <%=cl_image_tag(b.photos.first.key) if b.photos.any?%>
        <div class="card-trip-infos">
          <div>
            <p class="button"><%= b.category %></p>
            <h2><%= b.name %></h2>
            <p><%= b.description %></p>
            <p><%= b.price_per_day %> ₿ per day</p>

          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>

  <% end %>
  <% end %>
  </div>
</div>
