<h1><%= @boat.name %></h1>
<div class="container my-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <% @boat.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>

      <div>
        <p>Category: <%= @boat.category %></p>
        <p>Capacity: <%= @boat.capacity %></p>
        <p>Description: <%= @boat.description %></p>
        <p>Price per day: <%= @boat.price_per_day %></p>
      </div>

      <%= link_to 'Modify this boat', edit_boat_path(@boat) %>
      <%= link_to 'Back to boats', boats_path %>
      <%= render "bookings/new" %>
    </div>
  </div>
</div>
