
  <div class="m-3">
  <%#= link_to 'Back to boats', boats_path,class:"btn btn-primary" %>
  </div>
  <div class="d-flex px-5 py-4">
    <div class="w-50 px-5 py-0">
      <div class="d-flex flex-wrap">
        <div class="w-100 p-1">
        <%= cl_image_tag @boat.photos.first.key, crop: :fill, class:"rounded-3",style: "width: 100%; height: 100%;" %>
        </div>
        <% if @boat.photos.second %>
        <div class="w-50 p-1">
          <%= cl_image_tag @boat.photos.second.key, crop: :fill, class:"rounded-3",style: "width: 100%; height: 100%;" %>
        </div>
        <% end %>
        <% if @boat.photos.second %>
        <div class="w-50 p-1">
          <%= cl_image_tag @boat.photos.third.key, crop: :fill,class:"rounded-3", style: "width: 100%; height: 100%;" %>
        </div>
        <% end %>
      </div>
    </div>
  <div class="container-show">
    <div class="w-40 p-5">
      <h1><%= @boat.name %></h1>
      <%# <p> <strong><%= @boat.category</strong></p><%= @boat.category %>
      <button class="btn btn-cat">
          <span class="btn-label"><%= @boat.category %></span>
        </button>
      <h5><%= @boat.price_per_day %> $/day</h5>
      <p><i class="fa-solid fa-location-dot"></i> Location: <%= @boat.location %></p>
      <p><i class="fa-solid fa-user"></i> Capacity: <%= @boat.capacity %></p>
      <p>Description: <%= @boat.description %></p>



        <% if @boat.user==current_user %>
              <%= link_to 'Modify this boat', edit_boat_path(@boat), class:"btn btn-primary margin-top: 10px"%>

        <% else %>
      <div class="avatar-user-photo"><% if @boat.user.avatar.present? %>
                <%= cl_image_tag @boat.user.avatar.key, class: "card-trip-user avatar avatar-bordered" %>
              <% else %>
                  <%= image_tag "sparrow", class: "card-trip-user avatar avatar-bordered"%>
              <% end %>
              <p><%= @boat.user.first_name + " " + @boat.user.last_name %></p>
      </div>
              <%= render "bookings/new" %>
        <% end %>
    </div>
  </div>
</div>
